@import "~@blueprintjs/core/src/blueprint";
@import "~@blueprintjs/docs-theme/src/docs-theme";
@import "~@blueprintjs/table/src/table";

* {
  outline: none !important;
}

a {
  text-decoration: none !important;
}

.tb-subscribers {
  margin-top: 25px;
}

.form-sections {
  width: 420px;

  h3 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    strong {
      margin-left: 10px;
    }
  }
}

.form-input {
  width: 100%;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 2px;
  border: 1px solid #778799;
}

.h80 {
  height: 80px !important;
}

.w100 {
  width: 100%;
}

.bp3-tab-indicator-wrapper {
  width: auto;
  margin-right: 0 !important;
}

.bp3-tab-list {
  text-align: center;
}

.previewTab {
  flex-grow: 1;
  text-align: center;
  margin-right: 0 !important;
}

.button-link {
  margin: 2px;
}

.device-header {
  background-color: #d3e8ff;

  div {
    display: flex;
    align-content: center;
    align-items: center;
  }

  h3 {
    display: flex;
    flex: auto;
    margin: 0;
    padding: 4px;
  }
}

td, th {
  vertical-align: middle !important;
  white-space: nowrap;
  padding: 6px !important;
}