body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#backdrop{
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
}

#control{
  z-index: 100;
  position: fixed;
  width: 100%;
  bottom: 0;
}
#control button[value="Live"]{
  display: none;
}
#control label{
  display: none;
}